.App {
  text-align: center;
}

.list-items {
  border: 1px solid gray;
  height: 400px;
  width: 300px;
}

.p-image {
  padding-top: 50px;
  background-color: lightgrey;
  height: 150px;
  width: 100%;
}